# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/

# White list
!*.yaml
!.gitignore
!*.md
!.vscode
!*.json


# Database
home-assistant_v2.db*
home-assistant.log

# Ignore folders.
.storage
.cloud
.google.token
custom_components

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
secrets/*